[submodule "_lib"]
   path = synergy.sfcknox.org/_lib
   url  = https://github.com/dwbolt/_lib.git
[submodule "synergy"]
   path = synergy.sfcknox.org/synergy
   url  = https://github.com/dwbolt/synergy.git
[submodule "synergyData"]
   path = synergy.sfcknox.org/synergyData
   url = https://github.com/dwbolt/synergyData.git
[submodule "synergyServer"]
	path = server/synergyServer
	url = https://github.com/dwbolt/synergyServer.git
