[submodule "_lib"]
   path = _lib
   url = git@github.com:dwbolt/_lib.git
[submodule "synergy"]
   path = synergy
   url = git@github.com:dwbolt/synergy.git
[submodule "synergyData"]
   path = synergyData
   url = git@github.com:dwbolt/synergyData.git
[submodule "synergyServer"]
	path = synergyServer
	url = https://github.com/dwbolt/synergyServer.git
